@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #282A36;
    --fg: #F8F8F2;
    --white: #ffffff;
    --black: #000000;
    --comment: #6272A4;
    --selection: #44475A;
    --cyan: #8BE9FD;
    --green: #50FA7B;
    --orange: #FFB86C;
    --pink: #FF79C6;
    --purple: #BD93F9;
    --red: #FF5555;
    --yellow: #F1FA8C;
}

::selection {
    background: var(--purple);
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: var(--purple);
    /* Gecko Browsers */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

b {
    font-weight: bold;
}

/* ... */

.prose :is(a){
    text-decoration: none;
    color: var(--purple);
    font-style: italic;

  }
.prose :is(h2, h3, h4, h5, h6) {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
	margin-top: 1rem;
}

.prose :is(ul, ol) {
	list-style-type:disc;
	padding-left: 1rem;
}

.prose :is(ul, ol) li {
	margin-block: 0.1rem;
	padding-inline-start: 0.1rem;
}

code{
    width: fit-content;
}
code span{
}
.prose pre {
	padding: 1rem;
	border-radius: 8px;
	tab-size: 2;
}


:root {
	color-scheme: dark;
    color:#282A36
}


img {
	border-radius: var(--radius-3);
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}

.surface-1 {
	background-color: var(--bg);
}

.surface-2 {
	background-color: var(--surface-2);
	color: var(--text-2);
}

.surface-3 {
	background-color: var(--surface-3);
	color: var(--text-1);
}

.surface-4 {
	background-color: var(--surface-4);
	color: var(--text-1);
}
hr{
    border-color: var(--bg);
  }